body {
    font-family: courier;
    width: 1280px;
    margin: 0 auto;
    background-color: #fff;
    color: #333;
}

body.dark-theme {
    background-color: #333;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#change-theme-btn {
    width: 150px;
    height: 75px;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-size: 18px;
    font-family: courier;
    color: white;
    background-color: #4bcaff;
    box-shadow: none;
}

.logo {
    margin-top: 50px;
    margin-bottom: 45px;
}

.logo-link {
    font-size: 80px;
    font-weight: 500;
    text-decoration: none;
    color: #4bcaff;
}

.black {
    color: #000;
}

/*-------------------------------NAVBAR---------------------------------------------*/

.navbar-menu {
    text-align: center;
    list-style: none;
    background-color: #35444f;
}

.navbar-menu-item {
    display: inline-block;
    padding: 30px 10px;
    border-right: 1px solid #35444f;
    border-left: 1px solid #35444f;
}

.navbar-menu-link {
    font-size: 28px;
    text-decoration: none;
    color: #fff;
}

.navbar-menu-item:hover {
    background-color: #222f3a;
    border-right: 1px solid #818181;
    border-left: 1px solid #818181;
}

.container{
    margin-top: 50px;
}

/*---------------------------------SIDEBAR----------------------------------------*/
.sidebar {
    display: inline-block;
    vertical-align: top;
    width: 350px;
    height: 100%;
    margin-right: 20px;
}

.sidebar-menu {
    border: #35444f solid 2px;
    background: #fff;
}

.sidebar-menu-item {
    list-style: none;
    padding: 20px 30px;
}

.sidebar-menu-item:hover {
    background-color: #dbdbdb;
    padding-left: 60px;
}

.sidebar-menu-link {
    font-size: 26px;
    color: #495863;
    text-align: left;
    text-decoration: none;
}

/*--------------------------------------CONTENT----------------------------------------*/

.content {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;
    width: 900px;
}

.parent {
    height: 530px;
    margin: 0 0 50px 0;
    border: #35444f solid 2px;
}
.content-picture {
    background-image: url('../img/aries-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: all .5s;
}

.parent:hover .content-picture,
.parent:focus .content-picture {
    transform: scale(1.3);
}

.content-text {
    text-align: left;
    padding: 10px 30px;
    font-size: 18px;
    line-height: 1.5;
}


/*------------------------------------------FOOTER---------------------------------*/


.footer {
    background-color: #b4b7ba;
    margin-bottom: 30px;
}

.footer-menu {
    text-align: left;
    list-style: none;
    display: inline-block;
    padding-left: 45px;
}

.footer-menu-item {
    display: inline-block;
    padding: 20px 10px;
}

.footer-menu-link {
    font-size: 24px;
    text-decoration: none;
    color: #000;
}

.footer-menu-link:hover {
    color: #3181a6;
    text-decoration: underline;
}

.copyright {
    display: inline-block;
    font-size: 20px;
    padding-left: 70px;
}






